<!DOCTYPE html>
<html lang="en" ng-app="app-main">
<head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width = device-width,
								   initial-scale = 1"/>
	<meta property="og:title" content="2D Pixels"/>
	<meta property="og:url" content=""/>
	<meta property="og:description" content="Make vectors and drawables."/>
	<meta property="og:image" content=""/>

	<title>2D Pixels</title>
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="sidebar.css">
	<!-- <link rel="stylesheet" type="text/css" href="context.js/context-menu.min.css"> -->
	<script type="text/javascript" src="angular-1.8.2/angular.min.js"></script>
	<script type="text/javascript" src="angular-1.8.2/angular-route.min.js"></script>
	<script type="text/javascript" src="p5/p5.min.js"></script>
	<!-- <script type="text/javascript" src="context.js/context-menu.min.js"></script> -->
	<script type="text/javascript" src="scripts/app.js"></script>
	<script type="text/javascript" src="scripts/ng-context-menu.js"></script>
	<script type="text/javascript" src="scripts/stringService.js"></script>
</head>
<body ng-controller="side-nav" ng-init="leftMenuVisibility='';rightMenuVisibility=''">
	<header>
		<p class="icon" ng-click="leftMenuVisibility==''?leftMenuVisibility='hidden':leftMenuVisibility=''">A</p>
		<p id="title">2D Pixels</p>
		<p class="icon" ng-click="rightMenuVisibility==''?rightMenuVisibility='hidden':rightMenuVisibility=''">@</p>
	</header>

	<div style="height: 100vh; background-color: #E5E5FF"> <!-- #e1e2e1 -->

		<!-- The sidebar -->
		<div id="leftFirstMenu" class="sidebar" ng-show="leftMenuVisibility">
		  <div ng-repeat="option in [{n:'Option 1', h:'#option_1', i:'C'},
		  							 {n:'Option 2', h:'#option_2', i:'D'},
		  							 {n:'Option 3', h:'#option_3', i:'H'}, 
		  							 {n:'Option 4', h:'#option_4', i:'G'}]
		  					track by $index">
		  	<a href="{{option.h}}" ng-click="o_oO(option.i)">
		  		<p class="icon" style="color: black;">{{option.i}}</p><p>{{option.n}}</p>
		  	</a>
		  </div>
		</div>
		<!-- End of sidebar -->

		<!-- The sidebar -->
		<div class="sidebar" ng-hide="leftMenuVisibility">
		  <div ng-repeat="option in [{n:'New File', h:'#new_file', i:'C'},
		  							 {n:'Open File', h:'#open_file', i:'D'},
		  							 {n:'Import', h:'#import_file', i:'H'}, 
		  							 {n:'Export', h:'#export_file', i:'G'}]">
		  	<a href="{{option.h}}" ng-click="o_oF(option.i)"><p class="icon" style="color: black;">{{option.i}}</p><p>{{option.n}}</p></a>
		  </div>
		</div>
		<!-- End of sidebar -->

		<div class="content">
			<div id="canvas"/>

			<script type="text/javascript" src="scripts/PixelRec.js"></script>
			<script type="text/javascript" src="scripts/canvas.js"></script>
		</div>

		<ng-include
		  src="help.html"
		  [onload="string"]
		  [autoscroll="string"]>
		</ng-include>

		<!-- The sidebar -->
		<div class="sidebar" style="right: 0;" ng-hide="rightMenuVisibility">
			<div class="section" ng-click="tools_visibility()">
		  		<p style="color: grey;">Tools</p><p>&#8681;</p>
		  	</div>
			<div style="margin: 0; text-align: center;" ng-hide="toolsVisibility">
				<ul style="display: inline; padding-left: 0;" ng-repeat="tool in tools">
					<li id="tools" 
						context-menu class="icon_sm" 
						ng-mousedown="selectTool($event, tool)"
						data-target="myMenu"
						ng-class="{ 'highlight': highlight, 'expanded' : expanded }">{{tool}}</li>
				</ul>
			</div>
			<div class="section" ng-click="settings_visibility()">
		  		<p style="color: grey;">Settings</p><p>&#8681;</p>
		  	</div>
		  	<div class="setting" ng-hide="settingsVisibility">
		  		<ul ng-repeat="setting in settings" style="margin: 0px; padding: 0px;">
					<li style="display: flex; justify-content: space-between; width: 100%; height: 40px;" class="setting-li" ng-click="">
						<p style="display: inline;">{{setting.name}}<p>
						<input style="display: inline;" type="{{setting.type}}" name="{{setting.name}}" value="{{setting.value}}" min="5" max="25" ng-model="setting.value" ng-chage="inputChanged" />
					</li>
				</ul>
		  	</div>
		</div>
		<!-- End of sidebar -->
	</div>

	<div class="dropdown" id="myMenu">
		<ul class="dropdown-menu"
		    	role="menu" aria-labelledby="dropdownMenu1">
			<li ng-repeat="tool_option in tool_options[selected_tool]" role="presentation">
			  	<a class="pointer" role="menuitem" tabindex="-1" ng-click="highlight = true">{{tool_option}}</a>
			</li>
		</ul>
	</div>
</body>
</html>
